body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('../backgroudn.png');
}


.join-page,
.chat-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chat-header {
    position: fixed;
    top: 15px;
    width: 90%;
    background-color: #1d1d1d;
    color: white;
    padding: 5px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border-radius: 10px;
}

.chat-header button {
    background: white;
    border: none;
    padding: 10px 15px;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    cursor: pointer;
    margin: auto 30px;
}

.chat-box {
    width: 100%;
    margin: 80px auto 0 auto;
    padding: 0px 100px;
    height: calc(100vh - 160px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.chat-header h2 {
    margin-left: 27px;
    letter-spacing: 1px;
    font-size: 20px;
}

.message-bubble {
  max-width: 70%;              /* limit bubble width */
  word-wrap: break-word;       /* break long words */
  overflow-wrap: break-word;   /* modern fallback */
  padding: 10px 15px;
  border-radius: 10px;
  line-height: 1.4;
  font-size: 15px;
  background-color: #dcf8c6;   /* example */
  color: #000;
}

.incoming {
    background: #1d1d1d;
    align-self: flex-start;
    color: white;
}

.outgoing {
    background: rgb(101, 151, 120);
    width: 200px;
    align-self: flex-end;
}

.info {
    text-align: center;
    font-style: italic;
    width: 200px;
    margin: 0px auto;
    color: #6b6b6b;
    background: white;
}

form {
    position: fixed;
    bottom: 5px;
    width: 100%;
    display: flex;
    padding: 10px;
    width: 91%;
}

form input {
    flex: 1;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
    border: 2px solid #1d1d1d;
}

form button {
    padding: 10px 30px;
    background-color: #1d1d1d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 1px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 600px) {
    .message-bubble {
        max-width: 90%;
    }

    .chat-box {
        width: 100%;
        margin: 80px auto 0 auto;
        padding: 0px 25px;
        height: calc(100vh - 160px);
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}